* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  li{
      list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
  }
.top-wrapper{
    position: relative;
    height: 500px;
    padding: 180px 0 180px 0;
    background-image: url(backgimg.jpg);
    background-size: cover;
    color: rgb(247, 245, 236);
    
    
}
.top-main{
    width: 50%;
    position: absolute;
    top: 20%;
    left:20%;
    right: 20%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 100px;
}
.top-main p{
    color: rgb(254, 255, 254);
    font-size: 27x;
    letter-spacing: 2px;
    opacity: 0.9;
}
.top-main h3{
    font-size: 30px;
    color: rgba(190, 223, 192, 0.993);
}
.top-main h1{
    font-size: 40px;
}
.top-main span{
    color: rgb(219, 133, 107);
}

header{
    background-color: rgb(50, 99, 96);
    color: rgb(243, 241, 231);
    height: 50px;
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 10;

}
.header-logo{
    width: 124px;
    font-size: 20px;
    float: left;
    margin-top: 10px;
}
.list-style a{
    float: left;
    margin-left: 25px;
    display: inline-block
    line-height: 50px;
    padding-bottom: 20px;
    color: white;
}
.list-style a:hover{
    color: rgb(218, 126, 202);
}
.header-list{
    float: right; 
}
.menu-icon{
    float:right;
    color: ghostwhite;
    margin:15px 0; 
    display: none; 
    opacity: 0.0;
}
#menu{
    display: none;
}
.message-wrapper{
    height: 180px;
    background-color: rgb(209, 209, 194);
    
}
.message-item{
    position: relative;
    left: 10%;
}
.mypic img{
    width: 90px;
    height: 100px;
    border-radius: 50%;
    margin: 20px 0;
    border: 2px solid #225ead;
    box-shadow: 10px 8px 50px rgb(233, 85, 17);
}

.btn{
    padding-left: 10px;
}
.btn:hover{
    color: rgb(179, 137, 58);
}
footer{
    height:150px ;
    background-color: rgb(155, 204, 236);
    margin-bottom: 10px;
}
.footer-content{
    color: rgb(249, 252, 249);
    text-align: center;
    padding-top: 10px;
}
.footer-logo{
    width: 110px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(242, 246, 248);
    border-bottom: 8px solid rgba(38, 92, 62,0.2);
    background-color: rgb(63, 231, 195);
    position: relative;
    left: 45%;
    
}
.footer-logo:hover{
    opacity: 0.7;
}
.footer-item:hover{
    opacity: 0.7;
    color: darkslategray;

}
//responsive
@media(max-width:1000px){
    #manu{
        display:none;
        opacity:0.1;
        
    }
}
@media(max-width:670px){
    .header-list{
        display:none;
    }
    .top-main{
        position: absolute;
        top: 10%;
        left: 5%;
        text-align: left;
        letter-spacing: 1px;
        
    }
    .top-main h1{
        font-size: 35px;
    }
    .top-main h3{
        font-size: 25px;
    }
    .top-main p{
        font-size: 23;
    }
    .menu-icon{
        display: block;
        opacity: 1;
        margin-right:30px;
    }
}
